body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(145, 136, 204);
  font-size: inherit;
  padding: 5px 5px 5px 5px;
}

#outside{
  /*padding-top: 25px;*/
  /*padding-bottom: 25px;*/
  background-color: #a3d0c4;
  background-size: cover;
  border-radius: 10px 10px 10px 10px;
}

/* ----------------- header section ----------------- */

#header{
   	border:1px solid black;
   	height: 150px;
   	background-color:#f0f0f0;
   	border-radius: 10px 10px 0 0; 	
}
#logo {
	padding: 10px;
	float:left;
	height:120px;
	width:auto;
    
}

#help{
	background-color:#0d2d62;
	margin:30px auto;
	margin-left: 100px;
	height:70px;
	width:auto;
	float:left;
	margin-top:16px;
	text-align:center;
	border-radius:20px;
}

/* ----------------- nevigation bar --------------------*/

.navbar {
  overflow: hidden;
  background-color: orange;
}
.navbar a {
  text-decoration: none;
  font-weight: bold;
  float: left;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

.dropdown {
  float:left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-weight: bold;
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: white
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #222;
  color: #eee;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ----------------- footer --------------------- */
.footer{
    margin: 0;
    background: #222;
    color: lightgrey;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 0 0 10px 10px;
 }

/* -------------------- content section ------------------- */

.wrapper{
	/*background-color: #ffff99;*/
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
    width: 100%;
}
.content{
    margin: 8%;
    font-family: 'Calibry';
    font-size: 18px;
}
 .about{
 	background-image: url("Images/book1.jpg");
	background-repeat: no-repeat;
	object-fit: cover;
	box-shadow: 5px 5px 5px black;
	border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
.profile{
    width: 300px;
}
.profile img{
    width: 300px;
    border-radius: 50%;
}
.about-text{
    width: 750px;
    text-align: justify;
}


/* ---------------- Exams Section Styles ------------------ */
.exams-section{
	background-image: url("TECHTRIX.jpeg");
	background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(103, 45, 156); 
	object-fit: none;
	box-shadow: 5px 5px 5px black;
	border-radius: 20px;
    margin: 5%;
}

.event-section{
	background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(103, 45, 156); 
	object-fit: none;
	box-shadow: 5px 5px 5px black;
	border-radius: 20px;
    margin: 5%;
}


.center{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 20px 20px 0 0;
    box-shadow: 5px 5px 5px black;
    color: black;
    text-shadow: 1px 1px #030303; 
    text-align: center;
    padding: 15px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45), rgba(48, 255, 176, 0.274)),rgb(62, 113, 136);
    background-size: cover;
}

.center2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px black;
    color: black;
    text-shadow: 1px 1px #030303; 
    text-align: center;
    padding: 5px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45), rgba(48, 255, 176, 0.274)),rgb(62, 113, 136);
    background-size:contain;
}
.exams{
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly;
}
.exam{
    padding: 0px;
    background: rgb(47, 0, 76);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border: 2px solid rgb(130, 130, 130);
    border-radius: 20px;
    margin: 20px;
    color: #fff;
    text-align: center;
}
.exam h2{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}

/* ----------------------- Achievements --------------------- */

.block{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.jcard{
    height: 100px;
    width: 200px;
    margin: 20px;
    border: 3px solid #000;
    border-radius: 10%;
    text-align: center;
    vertical-align: 50%;
    padding: 10px;
    background-color: lightgray;
    box-shadow: 4px 4px 4px  black;
}
.spnsr{
    height: 100px;
    width: 200px;
    margin: 20px;
    border: 5px solid #000;
    border-radius: 0%;
    text-align: center;
    vertical-align: 50%;
    background-color: lightblue;
    box-shadow: 5px 5px 5px black;

}
.contact{
    height: 250px;
    width: 250px;
    margin: 20px;
    border: 3px solid #000;
    border-radius: 1%;
    text-align: center;
    vertical-align: 50%;
    background-color: lightblue;

}

/*-------------- Scoit ---------------*/
.centerabc{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700 bold;
    letter-spacing: 2px;
    border-radius: 20px 20px 20px 20px;
    color: black;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(159, 157, 157, 0.45), rgba(5, 99, 63, 0.274)),#cdcdcd;
    background-size: cover;
}

.btn-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 30px;
    padding: 15px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-family: serif;
    font-weight: 700;
    letter-spacing: 2px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
}
.btn:nth-child(1){
    background: rgb(109, 108, 108);
    color: #fff;
    border: none;
}
.btn:nth-child(1):hover{
    background: rgb(71, 71, 71);
    color: #000;
    transition: 0.6s ease;
    border: none;
}
.btn:nth-child(2){
    background: darkgrey;
    color: #fff;
    border: none;
}
.btn:nth-child(2):hover{
    background: lightblue;
    color: #000;
    transition: 0.6s ease;
    border: none;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
.btn a:hover{
    color:white;
}

/* //////////////----------- Registration Form Styles -----------////////////// */
.form-wrapper{
    font-family: Raleway;
    margin: 5% 10%;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #f1afaf;
    width: 80%;
}
.body{
    margin: 3%;
}
fieldset{
    border: 2px solid rgb(36, 35, 35);
    border-radius: 5px;
    margin-top: 30px;
}
legend{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
td{
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}
input,select{
    height: 25px;
    border-radius: 3px;
    border: 2px solid darkgrey;
    padding: 3px;
    font-size: 16px;
    color: rgb(9, 0, 94);
    font-family: Raleway;
    font-weight: 600;
    margin-left: 100px;
}
textarea{
    height: 50px;
    width: 300px;
    max-width: 400px;
    border-radius: 3px;
    border: 2px solid darkgrey;
    padding: 3px;
    font-size: 16px;
    color: rgb(9, 0, 94);
    font-family: Raleway;
    font-weight: 600;
}
input[type="submit"]{
    margin: 30px;
    margin-bottom: 0;
    padding: 5px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    background: rgb(122, 33, 0);  
    border: 2px solid #000;
    color: #fff;
}
input[type="submit"]:hover{
    background: rgba(255, 51, 0, 0.856);
    color: #000;
}

